@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar{
  display: none;
}
@keyframes fadeScale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeScale {
  animation: fadeScale 0.6s ease-out forwards;
}
